<tui-root>
<div class="wrapper">
  <div>
    <app-header />
  </div>
  <div class="content">
    <div class="container">
      <div class="content__top">
        <app-categories />
        <div class="sort">
          <app-sort />
        </div>
      </div>
      <h2 class="content__title">Все пиццы</h2>
      <div class="content__items">
        @if (skeletonVisible) {
          @for (skeletonId of [1,2,3,4,5,6,7,8]; track skeletonId) {
            <app-skeleton />
          }
        } 
        @else {
          @for (pizza of pizzas; track pizza.id) {
            <app-pizza-block
              [props]="pizza"
            />
          }
        }
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
</tui-root>