<tui-root>
<div class="wrapper">
  <div>
    <app-header />
  </div>
  <div class="content">
    <div class="container">
      <div class="content__top">
        <app-categories />
        <div class="sort">
          <app-sort />
        </div>
      </div>
      <h2 class="content__title">Все пиццы</h2>
      <div class="content__items">
        
        @for (pizza of pizzas; track pizza.id) {
          <app-pizza-block
            [props]="pizza"
          />
        }
        
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
</tui-root>