<div class="pizza-block-wrapper">
  <div class="pizza-block">
    <a
      routerLink="[`/pizza`,props.id]"
      tuiLink
    >
      <img class="pizza-block__image" src="{{props.imageUrl}}" alt="Pizza" />
      <h4 class="pizza-block__title">{{ props.title }}</h4>
    </a>
    <div class="pizza-block__selector">

      <form
        class="group"
        [formGroup]="typeForm"
      >
        <div
          tuiGroup
          class="pizza-block__selector_types-buttons-group"
        >
          @for (typeId of props.types; track typeId) {
            <tui-radio-block
              contentAlign="right"
              formControlName="typeValue"
              size="m"
              [hideRadio]="true"
              [item]="typeId"
              (click)="setActiveType(typeId)"
            >
              {{ typeNames[typeId] }}
            </tui-radio-block>
          }
        </div>
      </form>
      <form
        class="group"
        [formGroup]="sizeForm"
      >
        <div
          tuiGroup
          class="pizza-block__selector_sizes-buttons-group"
        >
          @for (size of props.sizes; track size) {
            <tui-radio-block
              contentAlign="right"
              formControlName="sizeValue"
              size="m"
              [hideRadio]="true"
              [item]="size"
              (click)="setActiveSize(size)"
            >
              {{ size }} см.
            </tui-radio-block>
          }
        </div>
    </form>
    <div class="pizza-block__bottom">
      <div class="pizza-block__price">от {{ props.price }} ₽</div>
      <button (click)="onClickAdd()" class="button button--outline button--add">
        <svg
          width="12"
          height="12"
          viewBox="0 0 12 12"
          fill="none"
          xmlns="http://www.w3.org/2000/svg">
          <path
            d="M10.8 4.8H7.2V1.2C7.2 0.5373 6.6627 0 6 0C5.3373 0 4.8 0.5373 4.8 1.2V4.8H1.2C0.5373 4.8 0 5.3373 0 6C0 6.6627 0.5373 7.2 1.2 7.2H4.8V10.8C4.8 11.4627 5.3373 12 6 12C6.6627 12 7.2 11.4627 7.2 10.8V7.2H10.8C11.4627 7.2 12 6.6627 12 6C12 5.3373 11.4627 4.8 10.8 4.8Z"
            fill="white"
          />
        </svg>
        <span>Добавить</span>
        <i>{{ count$ | async }}</i>
      </button>
    </div>
  </div>
</div>